@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

body {
    font-family: 'Lato', sans-serif;
}

#page-wraper {
    /*background: url(../images/dwarka_beach.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;*/
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

/* Basic */

body {
    overflow-x: hidden;
    background-color: rgba(160, 153, 150, 0.733);
    /* margin-top: 50vw; */
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

h4 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* a.current {
    display: block;
    position: relative;
    top: -50vw;
    visibility: hidden;
} */

/* ------------------- Sidebar Menu ------------------- */

.menu { 
    background-color: #000000fd;
    height: 50vw;
    overflow: hidden;
    position: fixed;
    top: 0vw;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu .name {
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 3vw 0px 0px 0px;
}

.menu .name h4 {
    width: 100%;
    font-size: 7vw;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

.menu .navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu .navigation ul li {
    font-size: 3.8vw;
    color: rgb(255, 255, 255);
    width: 22vw;
}

.menu .navigation ul li a{
    display: inline-block;
    width: 100%;
    color: inherit;
}

.menu .navigation ul li:hover a,
.menu .navigation ul li a.current  {
    background: #fff;
    color: #000000;
    transition: all 0.5s; 
}

.menu .social-network ul {
    display: flex;
    flex-direction: row;
    font-size: 6vw;
    align-items: center;
    justify-content: center;
    padding-top: 2vw;
}

.menu .social-network ul li {
    text-align: center;
    width: 25vw;
}

.menu .social-network ul li a {
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: all 0.5s;
    padding: 0vw 7vw;
}

.menu .social-network ul li a:hover {
    background-color: #fff;
    color: #000000c9;
}

.menu .copyright {
    width: 100%;
}

.menu .copyright p {
    width: 100%;
    font-size: 3vw;
    display: inline-block;
}

/* ------------------- Information Flex ------------------- */

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(241, 83, 15, 0.733);
}

/* .hidden {
    display:block;
   height:50vw;
   margin-top:-50vw;
   visibility:hidden;
   background-color: rgb(247, 224, 18);
} */

#about {
    margin: 0vw 7vw;
    background-color: lawngreen;
    /* display: block; */
    /* position: relative; */
}

/* #about::before {
    display: block; 
    content: "He"; 
    margin-top: -50vw; 
    height: 50vw; 
    visibility: hidden; 
    pointer-events: none;
    background-color: lightcoral;
} */

.about-info {
    background-color: rgb(106, 154, 209);
    margin-top: 7vw;
    text-align: center;
}

.section-title {
    font-size: 8vw;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 3%;
    padding-bottom: 1%;
}

.section-content {
    font-size: 4.5vw;
    color: rgb(0, 0, 0);
    padding: 3%;
}

.line-dec {
    background-color: #000000;
    width: 12vw;
    height: 0.8vw;
    position: relative;
    left: 50%;
    margin-left: -5vw;
}

.arrow{
    text-align: center;
    height: 8vw;
}

.arrow span{
    display: block;
    width: 5vw;
    height: 5vw;
    border-bottom: 0.8vw solid #000000;
    border-right: 0.8vw solid #000000;
    transform: rotate(45deg);
    animation: animate 2s infinite;
    position: relative;
    left: 50%;
    margin-left: -1.125vw;
}

/* For arrow */

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}

.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-1vw,-1vw);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(1vw,1vw);
    }
}

#contact {
    margin: 0% 7vw;
    margin-bottom: 4%;
}

.contact-info {
    background-color: rgb(106, 154, 209);
    margin-top: 7vw;
    text-align: center;
}